<section class="perfil-section" *ngIf="currentUser">
  <div class="perfil-header">
    <div class="perfil-avatar">
      <img
        *ngIf="avatarDataUrl; else defaultAvatar"
        [src]="avatarDataUrl"
        alt="Avatar"
        class="avatar-image"
      />
      <ng-template #defaultAvatar>
        <i class="pi pi-user"></i>
      </ng-template>

      <label class="avatar-upload">
        <i class="pi pi-camera"></i>
        <input type="file" accept="image/*" (change)="onAvatarSelected($event)" />
      </label>
    </div>

    <div class="perfil-info">
      <h2>{{ profileForm.nombre }} {{ profileForm.apellido }}</h2>
      <p>@{{ profileForm.username }} · {{ profileForm.rol }}</p>
    </div>

    <button
      type="button"
      class="btn-edit"
      (click)="toggleEdit()"
      [disabled]="!isAdminUser"
    >
      <i class="pi" [ngClass]="isEditing ? 'pi-times' : 'pi-pencil'"></i>
      <span *ngIf="!isEditing">{{ 'editarPerfil' | translate }}</span>
      <span *ngIf="isEditing">{{ 'cancelarEdicion' | translate }}</span>
    </button>
  </div>

  <div class="perfil-form">
    <form (ngSubmit)="saveChanges()">
      <div class="form-section">
        <h3>{{ 'datosPersonales' | translate }}</h3>

        <div class="form-row">
          <div class="form-group">
            <label>{{ 'nombre' | translate }}</label>
            <input
              class="form-input"
              type="text"
              name="nombre"
              [(ngModel)]="profileForm.nombre"
              [readOnly]="!isEditing"
            />
          </div>

          <div class="form-group">
            <label>{{ 'apellido' | translate }}</label>
            <input
              class="form-input"
              type="text"
              name="apellido"
              [(ngModel)]="profileForm.apellido"
              [readOnly]="!isEditing"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>{{ 'correoLabel' | translate }}</label>
            <input
              class="form-input"
              type="email"
              name="email"
              [(ngModel)]="profileForm.email"
              [readOnly]="true"
            />
          </div>

          <div class="form-group">
            <label>{{ 'telefono' | translate }}</label>
            <input
              class="form-input"
              type="text"
              name="telefono"
              [(ngModel)]="profileForm.telefono"
              [readOnly]="!isEditing"
            />
          </div>
        </div>
      </div>

      <div class="form-section">
        <h3>{{ 'informacionCuenta' | translate }}</h3>

        <div class="form-row">
          <div class="form-group">
            <label>{{ 'usuario' | translate }}</label>
            <input
              class="form-input"
              type="text"
              [value]="profileForm.username"
              readOnly
            />
          </div>

          <div class="form-group">
            <label>{{ 'rolLabel' | translate }}</label>
            <input
              class="form-input"
              type="text"
              [value]="profileForm.rol"
              readOnly
            />
          </div>
        </div>
      </div>

      <div class="form-actions" *ngIf="isAdminUser && isEditing">
        <button
          type="button"
          class="btn-cancel"
          (click)="cancelEdit()"
          [disabled]="!isEditing || isSaving"
        >
          <i class="pi pi-times"></i>
          <span>{{ 'cancelar' | translate }}</span>
        </button>

        <button
          type="submit"
          class="btn-save"
          [disabled]="!isEditing || isSaving"
        >
          <i class="pi pi-save"></i>
          <span>{{ 'guardarCambios' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</section>

<section class="perfil-section" *ngIf="!currentUser">
  <div class="perfil-header">
    <div class="perfil-info">
      <h2>{{ 'perfilUsuario' | translate }}</h2>
      <p>{{ 'perfilUsuarioSinInfo' | translate }}</p>
    </div>
  </div>
</section>
